<a href="https://colab.research.google.com/github/NicoleShairaTabligan/OOP-58002/blob/main/Operation_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Boolean Operators
```
# This is formatted as code
```

In [2]:
a = 7
b = 6

print(10 > 9)
print(10 < 9)
print(a > b)

True
False
False
True

bool() function

In [3]:
print(bool("Nicole")) 
print(bool(1)) 
print(bool(0)) 
print(bool(None)) 
print(bool(False))
print(bool(True))

True
True
False
False
False
True

Functions can return a Boolean

In [4]:
def my_Function():
  return True

print(my_Function())

True

In [5]:
if my_Function():
  print("True")
else:
  print("False")

True

Application 1

In [41]:
print(10>9)

print(a==b)
print(a!=b)

True
False
True

Python Operator

In [16]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//3)      # 10/3 = 3.3333
print(10**2)

15
5
50
2.0
0
3
100

Bitwise Operation

In [20]:
c = 60 # binary 0011 1100
d = 13 # binary 0000 1101

c&d
print(c|d)
print(c^d)

print(d<<2)

61
49
52

Logical Operators

In [22]:
c and d

h = True
l = False
h and l
h or l

True

Application 2

In [32]:
#Python Assignment Operators
x=100

x+=3    #Same As x = x + 3,  x = 100+3=103
print(x)
x-=3     #Same As x = x - 3
print(x)
x*=3    #Same As x = x * 3
print(x)
x/=3     #Same As x = x / 3
print(int(x))
x%=3  #Same As x = x % 3
print(int(x))

103
100
300
100
1

Identity Operators

In [34]:
h is l
h is not l

True

#Control Structure

If Statement

In [48]:
if a>b: 
  print("a is greater than b")

Elif Statement

In [43]:
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")

a is less than b

Else Statement

In [44]:
a = 10
b = 10

if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

Short Hand If Statement

In [46]:
if a==b: print("a is equal to b")

a is equal to b

Short Hand If... Else Statement

In [54]:
a = 10
b = 9
print("a is greater than b") if a>b else print("b is greater than a")

a is greater than b

And

In [58]:
if a>b and b==b:
  print("both condition are True")

both condition are True

Or

In [60]:
if a<b or b==b:
  print("the condition are True")

the condition are True

Nested if

In [5]:
x = 30

if x>10:
  print("x is above 10")
  if x>20:
   print("and also above 20")
   if x>30: 
     print("and also above 30")
     if x>40:
       print("and also above 40")        
     else:
       print("but not above 40")

x is above 10
and also above 20

#Loop Statement

For Loop

In [9]:
week = ["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
 print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The break statement

In [12]:
#to display Sunday to Wednesday using For loop
for x in week:
  print(x)
  if x=="Wednesday":
    break

Sunday
Monday
Tuesday
Wednesday

In [14]:
#to display only Wednesday using break statement
for x in week:
  if x=="Wednesday":
    break 
print(x)

Wednesday

While Statement

In [16]:
i = 1
while i<6:
  print(i)
  i+=1 #same as i = i +1

1
2
3
4
5

Application 3 - Create a python program that display no.3 using break statement

In [18]:
i = 1
while i<6:
  if i==3:
    break
  i+=1
print(i)

3